/* The footer at the bottom of webpage */
.footer {
    position: relative; 
    bottom: 0; 
    height: 300px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    background-color: #1f2024;
    color: white;
 }

