.form-body{
    margin: auto;
    width: 40%;
}

input[type=text], input[type=number], input[type=email], input[type=password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  /* Product form label */ 
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media only screen and (max-width: 1205px) {
    #button{
      font-size: 24px;
      padding: 12px 42px;
    }
  } 