.info-content{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.image {
    float: left;
    height: 350px;
    width: 40%;
    object-fit: cover;
    position: relative;
}

.text {
    float: right;
    width: 55%;
    font-size: 24px;
}

.image-reversed {
    float: right;
    height: 300px;
    width: 40%;
    object-fit: cover;
    position: relative;
}

.text-reversed {
    float: left;
    width: 55%;
    font-size: 24px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 2305px) {
    .info-content{
        margin-left: 20%;
        margin-right: 20%;
    }

    .text {
        float: right;
        width: 55%;
        font-size: 20px;
    }

    .text-reversed {
        float: left;
        width: 55%;
        font-size: 20px;
    }

    h1 {
        font-size: 28px
    }
  }

@media only screen and (max-width: 1427px) {
    .info-content{
        margin-left: 5%;
        margin-right: 5%;
    }

    .text {
        float: right;
        width: 55%;
        font-size: 18px;
    }

    .text-reversed {
        float: left;
        width: 55%;
        font-size: 18px;
    }

    h1 {
        font-size: 28px
    }
  }